.images {
    margin: 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 200px);
}

.button-wrap.loading {
    pointer-events: none;
}

.button-wrap.loading button {
    opacity: .5;
}

.images img {
    width: 200px;
}